<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h6>Hi, {{name}}</h6>
      <ion-icon class="logout-icon" name="log-out" (click)="Logout();"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="jobs-management">
      <ion-icon name="create"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>