<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="email" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="name" name="name" type="text" placeholder="name" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="lastname" name="lastname" type="text" placeholder="lastname" ngModel required></ion-input>
  </ion-item>
</ion-content>