.editForm{
    text-align: center;
    margin: 6%;
}

.input{
    width: 100%;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

.add-icon{
    font-size: 20px;
    float: right;
    margin-bottom: 15px;
}