<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon style="padding: 12px; font-size: 25px;" name="arrow-back-outline" routerLink="/home"></ion-icon>
    </ion-buttons>

    <div class="toolbar">
      <label>Workut - Detalhes da Vaga</label>
      <ion-icon class="ion-margin-end"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <img class="profileImage" [src]="companyImg"><br><br>

    <div class="title-job">
      <ion-label>{{title}}</ion-label>
    </div>

    <div class="box">
      <ion-label>Salário: {{salary}}</ion-label>
      <ion-label>País: {{country}}</ion-label>
      <ion-label>Estado: {{state}}</ion-label>
    </div>

    <div>
      <ion-label class="box">Data de início: {{date}}</ion-label>
    </div>


    <div class="description">
      <ion-label class="title title-job">Company</ion-label>
      <ion-label class="box">Nome: {{companyName}}</ion-label>
      <ion-label class="box">Email: {{companyEmail}}</ion-label><br>
    </div>


    <div class="description">
      <ion-label class="title">Descrição da vaga:</ion-label><br>
      <ion-label class="box">{{description}}</ion-label>
    </div>

    <div class="description">
      <ion-label class="title">Habilidades:</ion-label><br>
      <ul *ngFor="let skill of Skills">
        <li>{{skill.skill}}</li>
      </ul>
    </div>

  </div>
</ion-content>