.content{
    text-align: center;
    margin: 10%;
}

.title{
    font-size: 20px;
    font-weight: 100%;
}

.subtitle{
    margin-top: 2%;
}

.description{
    margin-top: 10%;
    margin-bottom: 10%;
}

.titleDescription{
    margin-top: 5%;
}

ul {
    display: table;
    margin: 0 auto;
  }