.container{
    // margin: .5em;
    width: 300px;
    margin: .5em auto;
}
ion-content {
    width: 100%;
}
ion-slides {
    max-width: 850px;
    width: 100%;
    height: 100%;
}
// ion-label{
// text-align: center;
// }
.editForm{
    text-align: center;
    margin: 6%;
}

.input{
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    text-align: center;
}

.add-icon{
    font-size: 22px;
    float: right;
    margin-bottom: 15px;
}

.remove-icon{
    font-size: 22px;
    float: right;
    margin-bottom: 15px;
    color: red;
}
ion-fab-button {
    width: 40px;
    height: 40px;
}
.button-native {
    border: none;
}
ion-ripple-effect{
    border: none;
}
.button-inner {
    color: aqua;
}

.profileImage{
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    height: 20vh;
    border-radius: 50%;
    background-color: white;
    outline: none;
    box-shadow: none;
}