<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon style="padding: 12px; font-size: 25px;" name="arrow-back-outline" routerLink="/home"></ion-icon>
    </ion-buttons>

    <div class="title-logo">
      <img src="../assets/logonome2.png" alt="">
      <ion-icon class="ion-margin-end"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <div class="title-job">
      <ion-label>Personal Data: </ion-label>
    </div>

    <div class="Description">
      <ion-label class ="box">Name: {{name}}</ion-label>
      <ion-label class ="box">Email: {{email}}</ion-label>
      <ion-label class ="box">Birth: {{birth}}</ion-label>
      <ion-label class ="box">Gender: {{gender}}</ion-label>
      <ion-label class="box">Phone: {{phone}}</ion-label>
      <ion-label class= "box">Mstatus: {{mstatus}}</ion-label>
      <ion-label class ="box">Schooling: {{schooling}}</ion-label>
    
    </div>

   


    <div class="description">
      <ion-label class="title title-job">Other Infos:</ion-label>
      <ion-label class="box">Career Goal: {{careergoal}}</ion-label>
      <ion-label class="box">Portifolio: {{portifolio}}</ion-label>
      <ion-label class="box">Salary: {{salary}}</ion-label>
      <ion-label class="box">XPLVL: {{xplvl}}</ion-label><br>
    </div>    

    <div class="description">
      <ion-label class="title">Work History:</ion-label><br>
      <ul *ngFor="let x of Work">
        <li>{{x.item}}</li>
      </ul>
    </div>
    <div class="description">
      <ion-label class="title">Education History:</ion-label><br>
      <ul *ngFor="let x of Education">
        <li>{{x.item}}</li>
      </ul>
    </div>
    <div class="description">
      <ion-label class="title">User Skills:</ion-label><br>
      <ul *ngFor="let x of Skills">
        <li>{{x.item}}</li>
      </ul>
    </div>

  </div>
</ion-content>