.container {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  padding: 10px 0px 10px 15px;
  flex-direction: column;
  border: 1px solid #f82790;
  box-shadow: 1px 1px 1px #b6b5b5;
  border-radius: 8px;
  background-color: rgba(177, 176, 176, 0.151);
}

.list{
  margin-top: 40px;
}

.list-subtitle{
  font-size: 14px;
  color:black;
  margin-bottom: 1px;
  line-height: 22px;
}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}