.container {
  max-width: 880px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #f82790;
  box-shadow: 1px 1px 1px #b6b5b5;
  border-radius: 8px;
  background-color: rgba(177, 176, 176, 0.151);

  padding: 15px 10px;
}

.list{
  margin-top: 40px;
}

.list-subtitle{
  font-size: 14px;
  color:black;
  margin-bottom: 1px;
  line-height: 22px;
}
ion-searchbar {
  max-width: 900px;
  width: 100%;
  padding: 15px 10px;
  margin: 0px auto;
  margin-bottom: 0px;
}
.button-clear{
  border: 1px solid #f82790;
  border-radius: 8px;
  color: #f82790;
}
ion-button:hover {
  color: white;
  background-color:  #f82790;
}
.titulo {
  color: var(--color-primary);
}
@media screen and (min-width: 1000px) {
  .profileImage{
    border-radius: 50%;
    margin-left: 90%;
    width: 9%;
    height: 7vh;
  }
}

@media screen and (max-width: 1000px) {
  .profileImage{
    border-radius: 50%;
    margin-left: 77%;
    width: 20%;
    height: 8vh;
  }
}