<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-company/jobs-management"></ion-back-button>
    </ion-buttons>

    <ion-text>Criando nova vaga</ion-text>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="saveChanges()" class="editForm">

      <ion-input class="input" ngModel required type="text" [(ngModel)]="jobTitle" name="jobTitle" placeholder="Cargo"
        required>
      </ion-input>

      <ion-input class="input" ngModel required type="text" [(ngModel)]="jobDescription" name="jobDescription" required
        placeholder="Descrição">
      </ion-input>

      <ion-input class="input" ngModel required type="text" [(ngModel)]="salary" name="salary" placeholder="Salário"
        required>
      </ion-input>

      <ion-select class="input" [(ngModel)]="country" name="country" (ionChange)="countrySelected()" required>
        <ion-select-option>Qualquer país</ion-select-option>
        <ion-select-option>Outro</ion-select-option>
        <ion-select-option class="input" *ngFor="let country of countries" [value]="country.nome_pais_int"
          selected=true>
          {{country.nome_pais_int}}
        </ion-select-option>
      </ion-select>

      <ion-select class="input" [(ngModel)]="state" name="state" required>
        <ion-select-option>Qualquer estado</ion-select-option>
        <ion-select-option>Outro</ion-select-option>
        <ion-select-option class="input" *ngFor="let state of states" [value]="state.nome">
          {{state.nome}}
        </ion-select-option>
      </ion-select>

      <div [formGroup]="addmore" style="margin-top: 10%;">
        <div formArrayName="itemRows">

          <ion-toolbar>
            <ion-label>
              <p>Habilidades:</p>
            </ion-label>

            <ion-buttons slot="end" style="margin-top: 3%;">
              <ion-icon name="add" class="add-icon" (click)="addNewRow()"></ion-icon>
            </ion-buttons>

            <ion-buttons slot="start">
              <ion-icon></ion-icon>
            </ion-buttons>

          </ion-toolbar>

          <div *ngFor="let item of addmore.controls.itemRows['controls']; let i=index" [formGroupName]="i">

            <ion-toolbar>
              <ion-input class="input" id="skill{{i}}" formControlName="skill" type="text" placeholder="Habilidade">
              </ion-input>

              <ion-buttons slot="end" style="margin-top: 1%;" (click)="deleteRow(i)">
                <ion-icon name="close" class="remove-icon"></ion-icon>
              </ion-buttons>

              <ion-buttons slot="start">
                <ion-icon></ion-icon>
              </ion-buttons>
            </ion-toolbar>

          </div>
        </div>
      </div>

      <ion-button type="submit" expand="block" [disabled]="form.invalid">
        Salvar
      </ion-button>

    </form>
  </ion-grid>
</ion-content>