<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista candidatos:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list">  
      <ion-item *ngFor="let user of Users">
        <div class="container">

          <ion-text class="list-subtitle">Nome: {{user.name}}</ion-text>
          <ion-text class="list-subtitle">Sobrenome: {{user.lastName}}</ion-text>
          <ion-text class="list-subtitle">Email: {{user.email}}</ion-text>
          <ion-text class="list-subtitle">Country: {{user.country}}</ion-text>
          <ion-text class="list-subtitle">State: {{user.state}}</ion-text>
        
        </div>

      </ion-item>  
  </ion-list>
</ion-content>