<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="container-menu">
        <div class="title">
          <img src="../assets/logonome2.png" alt="">
          <ion-icon class="ion-margin-end"></ion-icon>
        </div>
        <div padding class="links">
          <a routerLink="/login">Login</a>
          <a my-custom-class popover-contention button icon-only (click)="presentPopover($event)">
            Cadastre-se
          </a>
        </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="conteudo">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div text-center class="explication">
            <h3>Facilitando sua busca por emprego.</h3>
            <p>Ajudando pessoas a usar seu tempo de forma eficiente.</p>
          </div>

          <div padding class="buttoms">
              <a routerLink="/login">Login</a>
              <a my-custom-class popover-contention button icon-only (click)="presentPopover($event)">
                Cadastre-se
              </a>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>