.item-inner::after {
  border: none;
}
.item-inner {
  border-style: none;
}

.container {
  width: 100%;
  margin: 5%;
  margin-top: 5px;
  display: flex;
  padding: 10px 0px 10px 15px;
  flex-direction: column;
  border: 1px solid #f82790;
  box-shadow: 1px 1px 1px #b6b5b5;
  border-radius: 8px;
  background-color: rgb(177, 176, 176);
}

.list{
  margin-top: 5px;
}

.list-subtitle{
  font-size: 14px;
  color:black;
  margin: 0;
  line-height: 22px;
}

.list-title{
  font-size:16px;
  color:red;
}