<ion-header>
  <ion-toolbar>
    <ion-title>premium-accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchAccounts()" ngModel placeholder="Search Contact"
    showCancelButton="focus">
  </ion-searchbar> -->

  <div class="divRow" *ngIf="Accounts">
    <div class="divCol" *ngFor="let user of Accounts">

      <div class="container">
        <img class="profileImage" [src]="user.imgURL"><br>
        <ion-text class="list-subtitle"><label for="" class="titulo">Name:</label> {{user.name}}</ion-text>
        <ion-text class="list-subtitle"><label for="" class="titulo">Email:</label> {{user.email}}
        </ion-text>
        <ion-button fill="clear" style="width: 50%;" (click)="ActivePremium(user._id.$oid)" [disabled]="user.premium">
          Active Premium</ion-button>
      </div>

    </div>
  </div>

</ion-content>