<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" color="danger">
      <ion-segment-button value="0">
        <ion-label>Dados Pessoais</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Jobs inbox</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slidesChanged(slides)" (ionSlidesDidLoad)="slidesChanged(slides)">

    <ion-slide>
      <ion-content>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)=' editProfile()'>
          <ion-fab-button color="danger">
            <ion-icon name="{{iconName}}"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <div class="container">

          <img class="profileImage" [src]="imgURL">
          <input type="file" style="font-size: small; text-align: center;" (change)="readImage($event);"
            accept="image/jpeg, image/png" [disabled]="imgDisabled" required />

          <ion-item>
            <ion-input [(ngModel)]="email" name="email" type="email" placeholder="your@email.com" ngModel required
              disabled="{{emailDisabled}}">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="name" name="name" type="text" placeholder="Nome" ngModel required
              disabled="{{nameDisabled}}">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="cep" name="cep" type="text" placeholder="CEP" ngModel required
              disabled="{{cepDisabled}}">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Country</ion-label>
            <ion-select class="input" [(ngModel)]="country" name="country" required (ionChange)="countrySelected()"
              disabled="{{countryDisabled}}">
              <ion-select-option>Any state</ion-select-option>
              <ion-select-option>Other</ion-select-option>
              <ion-select-option class="input" *ngFor="let country of countries" [value]="country.nome_pais_int"
                selected=true>
                {{country.nome_pais_int}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>State</ion-label>
            <ion-select class="input" [(ngModel)]="state" name="state" required disabled="{{stateDisabled}}">
              <ion-select-option>Any state</ion-select-option>
              <ion-select-option>Other</ion-select-option>
              <ion-select-option class="input" *ngFor="let state of states" [value]="state.nome" selected=true>
                {{state.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </div>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-list class="list">

        <!-- <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchUsers_Country()" ngModel
          placeholder="Search ..." showCancelButton="focus">
        </ion-searchbar> -->
        <div *ngIf="Applies">
          <ion-item *ngFor="let apply of Applies" class="item">
            <div class="container">

              <ion-text class="list-subtitle">Cargo: {{apply.jobTitle}}</ion-text><br>
              <ion-text class="list-subtitle">Nome: {{apply.userName}} {{apply.userLastname}}</ion-text><br>
              <ion-text class="list-subtitle">Email: {{apply.userEmail}}</ion-text>

              <ion-button (click)="openCV(apply)" fill="clear" style="width: 35%; margin-left: 60%;">View CV
              </ion-button>
              <ion-button (click)="Chat(apply)" fill="clear" style="width: 35%; margin-left: 60%;">chat</ion-button>
              <ion-button (click)="Decline(apply)" fill="clear" style="width: 35%; margin-left: 60%;">Decline
              </ion-button>
            </div>
          </ion-item>
        </div>
      </ion-list>

    </ion-slide>

  </ion-slides>

</ion-content>