<ion-header [translucent]="true">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
  
      <div class="title">
        <img src="../assets/logonome2.png" alt="">
        <ion-icon class="ion-margin-end"></ion-icon>
      </div>
      
  </ion-toolbar>
</ion-header>

<ion-content color="#ffffff" padding>

  <ion-grid>
    <form #form="ngForm" (ngSubmit)="SignUp()">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

          <!--SignUp Title-->
          <div>
            <h3 class="titleSlide">User SignUp</h3>
          </div>

          <!--Slides-->
          <ion-slides #slides [options]="slideOpts">

            <!--Name and Lastname-->
            <ion-slide>
              <div>
                <!--Name-->
                <ion-item>
                  <ion-input [(ngModel)]="name" name="name" type="text" placeholder="Name" ngModel required>
                  </ion-input>
                </ion-item>
                <!--Lastname-->
                <ion-item>
                  <ion-input [(ngModel)]="lastname" name="lastname" type="text" placeholder="Last name" ngModel
                    required>
                  </ion-input>
                </ion-item>
                <!--Next Button-->
                <ion-button size="larger" expand="block" (click)="Move(1)">
                  Next
                </ion-button>
              </div>

            </ion-slide>

            <!--Country and State-->
            <ion-slide>
              <div>
                <div class="listData">
                  <!--Country-->

                  <ion-item>
                    <ion-label>Country</ion-label>
                    <ion-select [(ngModel)]="country" name="country" (ionChange)="countrySelected()" required>
                      <ion-select-option *ngFor="let country of countries" [value]="country.nome_pais">
                        {{country.nome_pais}}</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <!--State-->

                  <ion-item>
                    <ion-label>State</ion-label>
                    <ion-select [(ngModel)]="state" name="state" required>
                      <ion-select-option *ngFor="let state of states" [value]="state.nome">
                        {{state.nome}}</ion-select-option>
                    </ion-select>
                  </ion-item>

                </div>
                <!--Next and Previous Buttons-->
                <div class="btnsSlide">
                  <ion-button class="btnSlide" size="larger" (click)="Move(0)">
                    Back
                  </ion-button>
                  <ion-button class="btnSlide" size="larger" (click)="Move(2)">
                    Next
                  </ion-button>
                </div>
              </div>
            </ion-slide>

            <!--Email and Password-->
            <ion-slide>
              <div>
                <!--Email-->
                <ion-item>
                  <ion-input [(ngModel)]="email" name="email" type="email" placeholder="your@email.com" ngModel
                    required>
                  </ion-input>
                </ion-item>
                <!--Password-->
                <ion-item>
                  <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password" ngModel
                    required>
                  </ion-input>
                </ion-item>
                <!--Next and SignUp Button-->
                <div class="btnsSlide">
                  <ion-button class="btnSlide" size="larger" (click)="Move(1)">
                    Back
                  </ion-button>
                  <ion-button class="btnSlide" size="larger" type="submit" [disabled]="form.invalid">
                    Sign up
                  </ion-button>
                </div>
              </div>
            </ion-slide>

          </ion-slides>

        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>