<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-item>
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="your@email.com" autocomplete="false" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="name" name="name" type="text" placeholder="Name" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="lastname" name="lastname" type="text" placeholder="Lastname" ngModel required></ion-input>
  </ion-item>
  </div>
</ion-content>
