<ion-header>
  <ion-toolbar>
    <ion-row text-center>
      <ion-icon name="arrow-back" class="ion-margin-start"></ion-icon>
      <ion-title>Workut</ion-title>
      <ion-icon class="ion-margin-end"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="#CCC" padding>
  <ion-grid>
  <form #form="ngForm" (ngSubmit)="login(form)">
    
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input [(ngModel)]="email" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="larger" type="submit" [disabled]="form.invalid" expand="block">Sign in</ion-button>
          </div>
        </ion-col>
      </ion-row>
    
  </form>
</ion-grid>
</ion-content>
