ion-title {
  color: #f82790;
  text-align: center;
}
ion-item{
  --background: #3880ff;
  --color: #fff;
  margin-top: 1.5rem;
}
ion-button{
  --background: #062f77;
  margin-top: 1.5rem;
}
a{
  color: rgb(255, 0, 0);
  text-decoration: none;
}
ion-row .text-center {
  text-align: center;
}