@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
ion-title {
  font-family: 'Nova Mono', monospace;
  font-size: 2rem;
}
ion-title, h3 {
  text-align: center;
  color: #f82790;
}
ion-item{
  --color: rgb(126, 122, 125);
  margin-top: 1.5rem;
  border-radius: 5px;
}
ion-button{
  --background:#f82790;
  margin-top: 2.8rem;
}
ion-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
form {
  border: 1px solid #CCC;
  padding: 40px 30px;
  border-radius: .7rem;
}

.icone {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  form {
    border: none;
  }
}