<ion-content [fullscreen]="true" class="content">

  <ion-list class="list">

    <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchUsers_Country()" ngModel
      placeholder="Search by User country" showCancelButton="focus">
    </ion-searchbar>

    <div *ngIf="Users">
      <ion-item *ngFor="let user of Users" class="item">
        <div class="container">
  
          <ion-text class="list-subtitle">Name: {{user.name}}</ion-text>
          <ion-text class="list-subtitle">Lastname: {{user.lastName}}</ion-text>
          <ion-text class="list-subtitle">Email: {{user.email}}</ion-text>
          <ion-text class="list-subtitle">Country: {{user.country}}</ion-text>
          <ion-text class="list-subtitle">State: {{user.state}}</ion-text>
  
        </div>
  
      </ion-item>
    </div>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!Users">
    <ion-list>

      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>