<ion-header>
  <div class="logo">
    <img src="../../assets/LogoWorkut.png" alt="">
    <ion-icon class="logout-icon" name="log-out" (click)="Logout();"></ion-icon>
  </div>
    <div class="bem-vindo">
      <h6>Olá, {{nome}}</h6>
    </div>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="jobs-management">
      <ion-icon name="create"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>